@import url("fonts/fonts.css");
html, body {
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden; }

section {
  padding-bottom: 5rem !important; }

a {
  text-decoration: none;
  color: #0f0f0f; }

ul {
  list-style-type: none; }

h1 {
  font-family: "Lexend";
  font-size: 2.5rem; }

h2 {
  font-family: "Lexend"; }

h3 {
  font-family: "Abel";
  font-size: 1.3rem; }

.btn {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-family: "Livvic";
  cursor: pointer;
  border: none;
  margin: 1.8rem;
  display: block; }

text-gray {
  color: #3f4954; }

p {
  font-family: "Lexend";
  color: #686666; }

/*----------------------- navbar start------------------------*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.nav {
  background: #FFFFFF;
  padding: 0.2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out; }
  .nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: "Lexend"; }
  .nav .toggle-collpase {
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none; }
    .nav .toggle-collpase .toggle-icons {
      display: flex;
      justify-content: flex-end;
      padding: 1.7rem 0; }
      .nav .toggle-collpase .toggle-icons i {
        font-size: 1.4rem;
        color: #3f4954; }
  .nav .nav-items ul {
    display: flex;
    margin: 0; }
    .nav .nav-items ul .nav-link {
      padding: 1.6rem 1rem;
      font-size: 1.1rem;
      position: relative;
      font-family: "Abel"; }
      .nav .nav-items ul .nav-link:hover {
        background: #104f55; }
        .nav .nav-items ul .nav-link:hover a {
          color: #FFFFFF; }
  .nav .nav-menu {
    justify-content: space-between; }
  .nav .social {
    padding: 1.1rem; }
    .nav .social i {
      padding: 0.2rem; }
      .nav .social i:hover {
        color: #686666; }

/*----------------------- navbar end------------------------*/
/*-------- Main Section Start-----------*/
main .site-title {
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center; }
main .site-background {
  padding-top: 10rem;
  text-align: center;
  color: #FFFFFF; }
  main .site-background h1, main .site-background h3 {
    margin: .3rem; }
  main .site-background h1 {
    margin-bottom: 20px; }
  main .site-background a {
    display: block; }
  main .site-background .btn {
    font-size: 1rem; }
    main .site-background .btn:hover {
      background: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF; }

/*-------- About start -----------*/
main .site-container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 2rem; }
  main .site-container .post-content {
    margin-bottom: 5rem;
    width: 100%; }
    main .site-container .post-content .post-image div {
      overflow: hidden;
      width: 90%; }
      main .site-container .post-content .post-image div .img {
        width: 100%;
        transition: all 1s ease; }
        main .site-container .post-content .post-image div .img:hover {
          transform: scale(1.3); }
    main .site-container .post-content .post-image .post-title {
      padding-top: 1.5rem; }
      main .site-container .post-content .post-image .post-title a {
        font-family: "Anton";
        font-size: 1.5rem; }
      main .site-container .post-content .post-image .post-title .btn {
        margin: 0;
        border-radius: 0; }
        main .site-container .post-content .post-image .post-title .btn a {
          font-size: 1rem; }

.side-bar .category-list {
  font-family: "Lexend"; }
  .side-bar .category-list .list-items {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 2rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 1s ease; }
    .side-bar .category-list .list-items:hover {
      transform: scale(1.3); }
.side-bar .tags {
  padding: .4rem 0; }
  .side-bar .tags .tags .tag {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: .4rem 1rem;
    margin: .3rem;
    border-radius: 2rem; }

/*-------- About end -----------*/
/*-------- Carrossel start -----------*/
/*-------- Carrossel end-----------* /
 
/*-------- Main Section end -----------*/
/*-------- footer start -----------*/
.rodape {
  height: 100%;
  background: #0f0f0f;
  position: relative;
  margin-top: 25vh;
  display: block; }
  .rodape .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .rodape .container div h2 {
      color: #FFFFFF; }
    .rodape .container div p {
      color: #FFFFFF; }
    .rodape .container .sobre {
      flex-grow: 1;
      flex-basis: 0;
      padding: 1rem 3rem; }
    .rodape .container .design .lista img {
      width: 20%;
      height: 20%;
      margin: 0.3rem 0.4rem !important;
      transition: all 1s ease; }
      .rodape .container .design .lista img:hover {
        transform: scale(1.3); }
    .rodape .container .contato a {
      color: #FFFFFF;
      font-family: "Lexend"; }
    .rodape .container .contato .zap {
      background: green;
      padding: .5rem 1rem;
      border: none;
      border-radius: 2rem;
      display: block;
      margin-top: 1rem; }
    .rodape .container .contato .social-footer a {
      padding: 0 .4rem; }
    .rodape .container .move-up {
      position: absolute;
      top: 75%;
      right: 10%; }
      .rodape .container .move-up i {
        color: #104f55; }
        .rodape .container .move-up i:hover {
          color: #FFFFFF; }

/*-------- footer end -----------*/
/*-------- Media Query-----------*/
/*-------- less 1130px-----------*/
@media only screen and (max-width: 1130px) {
  .rodape .container {
    grid-template-columns: repeat(2, 1fr); }
    .rodape .container .contato {
      margin-left: 3rem; } }
@media only screen and (max-width: 750px) {
  .nav .nav-menu, .nav .nav-items ul {
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start; }
  .nav .toggle-collpase {
    display: initial; }

  .collapse {
    height: 35rem; }

  .container .site-container {
    grid-template-columns: 100%; }

  .rodape .container {
    grid-template-columns: repeat(1, 1fr); }
    .rodape .container .contato, .rodape .container .design {
      margin-left: 3rem; } }
@media only screen and (max-width: 520px) {
  .nav .toggle-collpase {
    width: 80%; } }
