//colors
$corFundo:#FFFFFF;
$textGray:#3f4954;
$textLight:#686666;
$black:#0f0f0f;
$white:#FFFFFF;
$midNight:#104f55;

//Gradients
$sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

//fonts
$fontAbel:"Abel";
$fontAnton:"Anton";
$fontJosefin:"Josefin";
$fontLexend:"Lexend";
$fontLivvic:"Livvic";

