/*----------------------- navbar start------------------------*/
.flex-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

}


.nav{
	background: $corFundo;
	padding: 0.2rem;
	height: 0rem;
	min-height: 10vh;
	overflow: hidden;
	transition: height 1s ease-in-out;
	
	.nav-brand{
		a{
			font-size: 1.6rem;
			padding: 1rem 0;
			display: block;
			font-family: $fontLexend;
		}
	}
	.toggle-collpase{
		position: absolute;
		top: 0;
		width: 90%;
		cursor: pointer;
		display: none;
		.toggle-icons{
			display: flex;
			justify-content: flex-end;
			padding: 1.7rem 0;
			
			i{
				font-size: 1.4rem;
				color:$textGray;
			}
		}
	}
	.nav-items ul{
		display: flex;
		margin: 0;
		
		.nav-link{
			padding: 1.6rem 1rem;
			font-size: 1.1rem;
			position: relative;
			font-family: $fontAbel;
				&:hover{
					background:$midNight;
					a {
						color:$white;
					}

				}
		}
	}
	.nav-menu{
		justify-content: space-between;
	}
	
	.social{
		padding: 1.1rem;
		
		i{
			padding: 0.2rem;
			&:hover{
				color:$textLight;
			}
		}
	}
}

/*----------------------- navbar end------------------------*/


