.rodape{
	height: 100%;
	background: $black;
	position: relative;
	margin-top: 25vh;
	display: block;
	.container{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		div{
			h2{
				color: $white;
			}
			p{
				color: $white; 
			}
		}
		.sobre{
			flex-grow: 1;
			flex-basis: 0;
			padding: 1rem 3rem;

		}
		.design{
			.lista{
				img{
					width: 20%;
					height: 20%;
					margin: .3rem .4rem!important;
					transition: all 1s ease;
					&:hover{
					transform: scale(1.3);					
					}
				}
			}
			
		}
		.contato{
			a{
				color: $white;
				font-family: $fontLexend;
			}
			.zap{
				background:green;
				padding: .5rem 1rem;
				border: none;
				border-radius: 2rem;
				display: block;
				margin-top: 1rem;
			}
			
			.social-footer{
				a{
					padding:  0 .4rem;
				}
			}
		}
		
		.move-up{
			position: absolute;
			top: 75%;
			right: 10%;
			i {
				color: $midNight;
				&:hover{
					color: $white;
				}
			}
		}
	}
}

